{{ template "chrome/head.html" . }}
<body lang="en" class ="theme-base-0d" >
{{ template "chrome/sidebar.html" . }}

<div class="content container">
  <h1 class="post-title">Recent Posts</h1>

<section id="main">
  <div>
    <!-- <ul> -->
    <!--   {{ range .Data.Pages }} -->
    <!--         {{ .Render "list"}} -->
    <!--   {{ end }} -->
    <!-- </ul> -->

    <ul id="list">
      {{ range first 10 .Data.Pages }}
      {{ .Render "summary"}}
      {{ end }}
    </ul>
  </div>
</section>
<section>
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
          <h2>Category Index</h2>
		<p class="capitalize">
          {{ range $key, $value := $taxonomy }}
          &#9679 <a href="/tags/{{ $key | urlize }}"> {{$key}} ({{ $value.Count }}) </a>          {{ end }}
        </p>
      </li>
    {{ end }} 
</section>


<aside id="meta"> </aside>
{{ template "chrome/footer.html" }}
</div>
</body>
