<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }}Personal and professional website. Occasional scribbles and scrawls. {{end}}
      </p>
    </div>

    <ul class="sidebar-nav">
      <a href="/">About me</a>
	  <br>
	  <a href="/blog">Blog</a>
	  <br>
	  <a href="/cv">Curriculum Vitae</a>
	  <br>
	  <br>
	  <a href="/">Linkedin</a>
	  <br>
	  <a href="/">Github</a>

    </ul>

    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</div>
