<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">


    <base href="{{ .Site.BaseUrl }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	 {{ template "chrome/head.html" . }}

</head>
<body lang="en" class ="theme-base-0d">

  {{ template "chrome/sidebar.html" . }}
  
  <div class="content container">
    <div class="page">
<h1>A very short introduction</h1>
<p class="lead">Adventurous recent Cambridge University graduate. Experience working for
a <a href="https://www.jpmorgan.com/pages/jpmorgan">bank</a> in Geneva,
a private equity advisory <a href=http://www.skillcapital.com/>firm</a> in London,
an agrotech <a href=http://smartvineyard.com/>startup</a> in Budapest 
and an online <a href="https://www.rocket-internet.com/">venture builder</a> in Rangoon. Currently in Costa Rica.
<br>
<br>
I am interested in how cutting edge technology and science can bypass development stages in the developing world.
I am also excited by psychology, politics and a big fan of <a href="http://fivethirtyeight.com/">FiveThirtyEight</a>.
<br>
<br>
I enjoy travelling, reading and good company. Sometimes I dabble in coding and writing.
</p>
<h3>Highlights of last 12 months</h3>
  <li class="lead">prepared grant application awarded <a href=https://ec.europa.eu/research/participants/portal/doc/call/h2020/h2020-smeinst-2-2014/1637611-sme-instrument-phase2-beneficiaries_en.pdf>1 million</a> EUR</li>
  <li class="lead">managed 8 employees for a Rocket Internet start-up</li>
  <li class="lead">lived in <a href="https://en.wikipedia.org/wiki/Myanmar">Burma</a>, one of the world's least developed countries</li>
  <li class="lead">traveled through Asia</li>
  <li class="lead">invested in a Kindle</li>
  <li class="lead">made this website</li>
</p>
<br>

{{ template "chrome/footer.html" }}

</div>
</div>
</body>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68708652-1', 'auto');
  ga('send', 'pageview');

</script>
