<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">


    <base href="{{ .Site.BaseUrl }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	 {{ template "chrome/head.html" . }}

</head>
<body lang="en" class ="theme-base-0d">

  {{ template "chrome/sidebar.html" . }}
  
  <div class="content container">
    <div class="page">

<h1>Who am I?</h1>
<p class="lead">Professionally, I am interested in how technology and science can bypass swathes of development stages in the less developed half of the world.</p>
<br>
<br>
<p class="lead">Personally, my vices include travelling, literature and politics. I also enjoy good company, food and wine too much. Occasional dabbles in coding and writing.</p>

<br>
<p class="lead"> The following have kept me busy in the last 15 months:</p>
<ul>
  <li>graduating from university in Cambridge</li>
  <li>drafting a grant application ultimately awarded 1m EUR in Budapest</li>
  <li>managing 8 employees for a Rocket Internet start-up in Rangoon</li>
  <li>traveling extensively in Asia</li>
  <li>trying to figure out what to do with my life</li>
  <li>making this website</li>
</ul>
<br>
{{ template "chrome/footer.html" }}

</div>

</div>
