<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    {{ template "chrome/meta.html" . }}

    <base href="{{ .Site.BaseUrl }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ template "chrome/head_includes.html" . }}
</head>
<body lang="en">

  {{ template "chrome/sidebar.html" . }}
  
  <div class="content container">
    <div class="page">

<h1>My name is Boaz</h1>

<p class="lead"> This is all bla bla, but look here is a <a href="http://sociology.duke.edu/">link</a> and I love <a href="http://kenan.ethics.duke.edu/">sexy beautiful women</a>. My other intrests include <a href="http://markets.duke.edu">cockfighting</a> and my best friend is <a href="https://dnac.ssri.duke.edu"> Tamas</a>.</p>


{{ template "chrome/footer.html" }}

</div>

</div>
